#recipe-app {
    margin: 0 0 100px 0;
}

#configForm .cat-text.input-group {
    margin-bottom: 10px;
}

#configForm #add-cat-sct .icon-labels {
    padding-bottom: 5px;
}

#configForm #add-cat-sct .icon-labels label i {
    position: absolute;
}

#configForm #add-cat-sct .cat-icons {
    position: relative;
    clear: both;
    float: none;
    padding: 12px 0 0 12px;
    background: #fff;
    margin: 0 0 10px 0;
    overflow: hidden;
    overflow-y: auto;
    min-height: 49px;
    max-height: 156px;
    border: 1px #ddd solid;
}
#configForm #add-cat-sct .cat-icons:before {
    content: " ";
    display: table;
}

#configForm #add-cat-sct .cat-icons a {
    float: left;
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 0 12px 12px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 0 0 1px #ddd;
    color: inherit;
}

#configForm .cat-list-config .row {
    padding: 10px 0;
    border-top: 1px rgba(86,61,124,.15) solid;
}
#configForm .cat-list-config .row:last-child {
    border-bottom: 1px rgba(86,61,124,.15) solid;
}

#configForm .cat-list-config .row .cat-col {
    text-align: center;
    border-left: 1px rgba(86,61,124,.15) solid;
}
#configForm .cat-list-config .row .cat-col:last-child {
    border-right: 1px rgba(86,61,124,.15) solid;
}

.iconPicker {
    box-sizing: content-box;
    position: relative;
}
.iconPicker.iconPicker-selected {
    background: #eee;
}
