i.almond {
    content: url(../icons/food/24/almond.png);
}

i.apple_green {
    content: url(../icons/food/24/apple_green.png);
}

i.apple_red {
    content: url(../icons/food/24/apple_red.png);
}

i.apple_yellow {
    content: url(../icons/food/24/apple_yellow.png);
}

i.apple2 {
    content: url(../icons/food/24/apple2.png);
}

i.artichoke {
    content: url(../icons/food/24/artichoke.png);
}

i.asparagus {
    content: url(../icons/food/24/asparagus.png);
}

i.avocado {
    content: url(../icons/food/24/avocado.png);
}

i.avocado2 {
    content: url(../icons/food/24/avocado2.png);
}

i.bacon {
    content: url(../icons/food/24/bacon.png);
}

i.banana {
    content: url(../icons/food/24/banana.png);
}

i.banana_split {
    content: url(../icons/food/24/banana_split.png);
}

i.barley {
    content: url(../icons/food/24/barley.png);
}

i.beans {
    content: url(../icons/food/24/beans.png);
}

i.beef {
    content: url(../icons/food/24/beef.png);
}

i.beer {
    content: url(../icons/food/24/beer.png);
}

i.beer_bottle {
    content: url(../icons/food/24/beer_bottle.png);
}

i.beetroot {
    content: url(../icons/food/24/beetroot.png);
}

i.bell_pepper {
    content: url(../icons/food/24/bell_pepper.png);
}

i.bell_pepper_green {
    content: url(../icons/food/24/bell_pepper_green.png);
}

i.bell_pepper_yellow {
    content: url(../icons/food/24/bell_pepper_yellow.png);
}

i.bell_pepper1 {
    content: url(../icons/food/24/bell_pepper1.png);
}

i.bell_pepper2 {
    content: url(../icons/food/24/bell_pepper2.png);
}

i.birthday_cake {
    content: url(../icons/food/24/birthday_cake.png);
}

i.biscotti {
    content: url(../icons/food/24/biscotti.png);
}

i.blackberry {
    content: url(../icons/food/24/blackberry.png);
}

i.blueberry {
    content: url(../icons/food/24/blueberry.png);
}

i.bowl_chopsticks {
    content: url(../icons/food/24/bowl_chopsticks.png);
}

i.brazil_nut {
    content: url(../icons/food/24/brazil_nut.png);
}

i.bread {
    content: url(../icons/food/24/bread.png);
}

i.bread_slice {
    content: url(../icons/food/24/bread_slice.png);
}

i.broccoli {
    content: url(../icons/food/24/broccoli.png);
}

i.brown_bread {
    content: url(../icons/food/24/brown_bread.png);
}

i.bubblegum {
    content: url(../icons/food/24/bubblegum.png);
}

i.bubblegum_machine {
    content: url(../icons/food/24/bubblegum_machine.png);
}

i.bun {
    content: url(../icons/food/24/bun.png);
}

i.butter {
    content: url(../icons/food/24/butter.png);
}

i.cabbage {
    content: url(../icons/food/24/cabbage.png);
}

i.cake {
    content: url(../icons/food/24/cake.png);
}

i.cake_slice {
    content: url(../icons/food/24/cake_slice.png);
}

i.cake_slice2 {
    content: url(../icons/food/24/cake_slice2.png);
}

i.candy {
    content: url(../icons/food/24/candy.png);
}

i.candy_cane {
    content: url(../icons/food/24/candy_cane.png);
}

i.canned_food {
    content: url(../icons/food/24/canned_food.png);
}

i.cantaloupe {
    content: url(../icons/food/24/cantaloupe.png);
}

i.cantaloupe1 {
    content: url(../icons/food/24/cantaloupe1.png);
}

i.cantaloupe2 {
    content: url(../icons/food/24/cantaloupe2.png);
}

i.caramel_apple {
    content: url(../icons/food/24/caramel_apple.png);
}

i.carrot {
    content: url(../icons/food/24/carrot.png);
}

i.cashew_nut {
    content: url(../icons/food/24/cashew_nut.png);
}

i.cassava {
    content: url(../icons/food/24/cassava.png);
}

i.cassava2 {
    content: url(../icons/food/24/cassava2.png);
}

i.cauliflower {
    content: url(../icons/food/24/cauliflower.png);
}

i.celery {
    content: url(../icons/food/24/celery.png);
}

i.champagne {
    content: url(../icons/food/24/champagne.png);
}

i.cheese_round {
    content: url(../icons/food/24/cheese_round.png);
}

i.cheese_slice {
    content: url(../icons/food/24/cheese_slice.png);
}

i.cheese_wedge {
    content: url(../icons/food/24/cheese_wedge.png);
}

i.cherry {
    content: url(../icons/food/24/cherry.png);
}

i.cherry_tomatoes {
    content: url(../icons/food/24/cherry_tomatoes.png);
}

i.chestnut {
    content: url(../icons/food/24/chestnut.png);
}

i.chicken {
    content: url(../icons/food/24/chicken.png);
}

i.chicken_leg {
    content: url(../icons/food/24/chicken_leg.png);
}

i.chickpeas {
    content: url(../icons/food/24/chickpeas.png);
}

i.chili_pepper {
    content: url(../icons/food/24/chili_pepper.png);
}

i.chocolate_bar {
    content: url(../icons/food/24/chocolate_bar.png);
}

i.chocolate_bonbon {
    content: url(../icons/food/24/chocolate_bonbon.png);
}

i.chocolate_chip_cookie {
    content: url(../icons/food/24/chocolate_chip_cookie.png);
}

i.cocktail {
    content: url(../icons/food/24/cocktail.png);
}

i.cocoa {
    content: url(../icons/food/24/cocoa.png);
}

i.coconut {
    content: url(../icons/food/24/coconut.png);
}

i.coconut2 {
    content: url(../icons/food/24/coconut2.png);
}

i.coffee {
    content: url(../icons/food/24/coffee.png);
}

i.coffee_bean {
    content: url(../icons/food/24/coffee_bean.png);
}

i.coffee_pot {
    content: url(../icons/food/24/coffee_pot.png);
}

i.cognac {
    content: url(../icons/food/24/cognac.png);
}

i.cola_drink {
    content: url(../icons/food/24/cola_drink.png);
}

i.cookie {
    content: url(../icons/food/24/cookie.png);
}

i.cookie2 {
    content: url(../icons/food/24/cookie2.png);
}

i.corn_cob {
    content: url(../icons/food/24/corn_cob.png);
}

i.cotton_candy {
    content: url(../icons/food/24/cotton_candy.png);
}

i.crab {
    content: url(../icons/food/24/crab.png);
}

i.cracker {
    content: url(../icons/food/24/cracker.png);
}

i.cranberry {
    content: url(../icons/food/24/cranberry.png);
}

i.croissant {
    content: url(../icons/food/24/croissant.png);
}

i.cucumber {
    content: url(../icons/food/24/cucumber.png);
}

i.cupcake {
    content: url(../icons/food/24/cupcake.png);
}

i.cutlet {
    content: url(../icons/food/24/cutlet.png);
}

i.double_popsicle {
    content: url(../icons/food/24/double_popsicle.png);
}

i.doughnut {
    content: url(../icons/food/24/doughnut.png);
}

i.eclair {
    content: url(../icons/food/24/eclair.png);
}

i.egg {
    content: url(../icons/food/24/egg.png);
}

i.eggplant {
    content: url(../icons/food/24/eggplant.png);
}

i.eggplant2 {
    content: url(../icons/food/24/eggplant2.png);
}

i.fig {
    content: url(../icons/food/24/fig.png);
}

i.fig2 {
    content: url(../icons/food/24/fig2.png);
}

i.fish {
    content: url(../icons/food/24/fish.png);
}

i.fish_fillet {
    content: url(../icons/food/24/fish_fillet.png);
}

i.flour {
    content: url(../icons/food/24/flour.png);
}

i.french_fries {
    content: url(../icons/food/24/french_fries.png);
}

i.fried_chicken_leg {
    content: url(../icons/food/24/fried_chicken_leg.png);
}

i.fried_egg {
    content: url(../icons/food/24/fried_egg.png);
}

i.frozen {
    content: url(../icons/food/24/frozen.png);
}

i.fruit_squash {
    content: url(../icons/food/24/fruit_squash.png);
}

i.fruitcake {
    content: url(../icons/food/24/fruitcake.png);
}

i.garlic {
    content: url(../icons/food/24/garlic.png);
}

i.glass_bottle {
    content: url(../icons/food/24/glass_bottle.png);
}

i.glass_of_milk {
    content: url(../icons/food/24/glass_of_milk.png);
}

i.goldenberry {
    content: url(../icons/food/24/goldenberry.png);
}

i.grapefruit {
    content: url(../icons/food/24/grapefruit.png);
}

i.grapefruit2 {
    content: url(../icons/food/24/grapefruit2.png);
}

i.grapes_green {
    content: url(../icons/food/24/grapes_green.png);
}

i.grapes_red {
    content: url(../icons/food/24/grapes_red.png);
}

i.green_beans {
    content: url(../icons/food/24/green_beans.png);
}

i.ham {
    content: url(../icons/food/24/ham.png);
}

i.hamburguer {
    content: url(../icons/food/24/hamburguer.png);
}

i.hard_boiled_egg {
    content: url(../icons/food/24/hard_boiled_egg.png);
}

i.hazelnut {
    content: url(../icons/food/24/hazelnut.png);
}

i.honey {
    content: url(../icons/food/24/honey.png);
}

i.hot_chocolate {
    content: url(../icons/food/24/hot_chocolate.png);
}

i.hotdog {
    content: url(../icons/food/24/hotdog.png);
}

i.ice_cream_bar {
    content: url(../icons/food/24/ice_cream_bar.png);
}

i.ice_cream_cone {
    content: url(../icons/food/24/ice_cream_cone.png);
}

i.ice_cream_cup {
    content: url(../icons/food/24/ice_cream_cup.png);
}

i.ice_cream_double_cone {
    content: url(../icons/food/24/ice_cream_double_cone.png);
}

i.ice_cubes {
    content: url(../icons/food/24/ice_cubes.png);
}

i.jam {
    content: url(../icons/food/24/jam.png);
}

i.ketchup {
    content: url(../icons/food/24/ketchup.png);
}

i.kiwi2 {
    content: url(../icons/food/24/kiwi2.png);
}

i.leek {
    content: url(../icons/food/24/leek.png);
}

i.lemon {
    content: url(../icons/food/24/lemon.png);
}

i.lemon2 {
    content: url(../icons/food/24/lemon2.png);
}

i.lentils {
    content: url(../icons/food/24/lentils.png);
}

i.lettuce {
    content: url(../icons/food/24/lettuce.png);
}

i.lime {
    content: url(../icons/food/24/lime.png);
}

i.lime2 {
    content: url(../icons/food/24/lime2.png);
}

i.lobster {
    content: url(../icons/food/24/lobster.png);
}

i.lollipop1 {
    content: url(../icons/food/24/lollipop1.png);
}

i.macadamia_nut {
    content: url(../icons/food/24/macadamia_nut.png);
}

i.macaron {
    content: url(../icons/food/24/macaron.png);
}

i.maple_syrup {
    content: url(../icons/food/24/maple_syrup.png);
}

i.maple_syrup2 {
    content: url(../icons/food/24/maple_syrup2.png);
}

i.marshmallow {
    content: url(../icons/food/24/marshmallow.png);
}

i.mayonnaise {
    content: url(../icons/food/24/mayonnaise.png);
}

i.meatballs {
    content: url(../icons/food/24/meatballs.png);
}

i.milk_carton {
    content: url(../icons/food/24/milk_carton.png);
}

i.milk_gallon {
    content: url(../icons/food/24/milk_gallon.png);
}

i.milkshake {
    content: url(../icons/food/24/milkshake.png);
}

i.muffin {
    content: url(../icons/food/24/muffin.png);
}

i.mushrooms {
    content: url(../icons/food/24/mushrooms.png);
}

i.mushrooms2 {
    content: url(../icons/food/24/mushrooms2.png);
}

i.mustard {
    content: url(../icons/food/24/mustard.png);
}

i.noodles {
    content: url(../icons/food/24/noodles.png);
}

i.nut_cake {
    content: url(../icons/food/24/nut_cake.png);
}

i.oats {
    content: url(../icons/food/24/oats.png);
}

i.olives {
    content: url(../icons/food/24/olives.png);
}

i.olives_black {
    content: url(../icons/food/24/olives_black.png);
}

i.omelette {
    content: url(../icons/food/24/omelette.png);
}

i.onion {
    content: url(../icons/food/24/onion.png);
}

i.onion_red {
    content: url(../icons/food/24/onion_red.png);
}

i.onion_red2 {
    content: url(../icons/food/24/onion_red2.png);
}

i.orange {
    content: url(../icons/food/24/orange.png);
}

i.orange_juice {
    content: url(../icons/food/24/orange_juice.png);
}

i.orange2 {
    content: url(../icons/food/24/orange2.png);
}

i.pancake {
    content: url(../icons/food/24/pancake.png);
}

i.pancakes {
    content: url(../icons/food/24/pancakes.png);
}

i.papaya {
    content: url(../icons/food/24/papaya.png);
}

i.papaya2 {
    content: url(../icons/food/24/papaya2.png);
}

i.peach {
    content: url(../icons/food/24/peach.png);
}

i.peach2 {
    content: url(../icons/food/24/peach2.png);
}

i.peanut {
    content: url(../icons/food/24/peanut.png);
}

i.peanut_butter {
    content: url(../icons/food/24/peanut_butter.png);
}

i.pear_green {
    content: url(../icons/food/24/pear_green.png);
}

i.pear_green2 {
    content: url(../icons/food/24/pear_green2.png);
}

i.pear_yellow {
    content: url(../icons/food/24/pear_yellow.png);
}

i.peas {
    content: url(../icons/food/24/peas.png);
}

i.pecan {
    content: url(../icons/food/24/pecan.png);
}

i.pepper_grinder {
    content: url(../icons/food/24/pepper_grinder.png);
}

i.pepper_shaker {
    content: url(../icons/food/24/pepper_shaker.png);
}

i.pickles {
    content: url(../icons/food/24/pickles.png);
}

i.pie {
    content: url(../icons/food/24/pie.png);
}

i.pie_slice {
    content: url(../icons/food/24/pie_slice.png);
}

i.pie1 {
    content: url(../icons/food/24/pie1.png);
}

i.pine_nuts {
    content: url(../icons/food/24/pine_nuts.png);
}

i.pineapple {
    content: url(../icons/food/24/pineapple.png);
}

i.pistachio {
    content: url(../icons/food/24/pistachio.png);
}

i.pitahaya {
    content: url(../icons/food/24/pitahaya.png);
}

i.pitahaya2 {
    content: url(../icons/food/24/pitahaya2.png);
}

i.pizza {
    content: url(../icons/food/24/pizza.png);
}

i.pizza_round {
    content: url(../icons/food/24/pizza_round.png);
}

i.plastic_bottle {
    content: url(../icons/food/24/plastic_bottle.png);
}

i.plum {
    content: url(../icons/food/24/plum.png);
}

i.plum2 {
    content: url(../icons/food/24/plum2.png);
}

i.popcorn {
    content: url(../icons/food/24/popcorn.png);
}

i.popsicle {
    content: url(../icons/food/24/popsicle.png);
}

i.pork {
    content: url(../icons/food/24/pork.png);
}

i.portobello {
    content: url(../icons/food/24/portobello.png);
}

i.potato {
    content: url(../icons/food/24/potato.png);
}

i.pretzel {
    content: url(../icons/food/24/pretzel.png);
}

i.pumpkin {
    content: url(../icons/food/24/pumpkin.png);
}

i.pumpkin2 {
    content: url(../icons/food/24/pumpkin2.png);
}

i.radish {
    content: url(../icons/food/24/radish.png);
}

i.raspberry {
    content: url(../icons/food/24/raspberry.png);
}

i.rice {
    content: url(../icons/food/24/rice.png);
}

i.rice_cracker {
    content: url(../icons/food/24/rice_cracker.png);
}

i.roasted_chicken {
    content: url(../icons/food/24/roasted_chicken.png);
}

i.rock_candy {
    content: url(../icons/food/24/rock_candy.png);
}

i.rocket_popsicle {
    content: url(../icons/food/24/rocket_popsicle.png);
}

i.romaine_lettuce {
    content: url(../icons/food/24/romaine_lettuce.png);
}

i.rye {
    content: url(../icons/food/24/rye.png);
}

i.salad {
    content: url(../icons/food/24/salad.png);
}

i.salmon_fillet {
    content: url(../icons/food/24/salmon_fillet.png);
}

i.salmon_steak {
    content: url(../icons/food/24/salmon_steak.png);
}

i.salt_shaker {
    content: url(../icons/food/24/salt_shaker.png);
}

i.sandwich {
    content: url(../icons/food/24/sandwich.png);
}

i.sandwich2 {
    content: url(../icons/food/24/sandwich2.png);
}

i.sausage {
    content: url(../icons/food/24/sausage.png);
}

i.shrimp {
    content: url(../icons/food/24/shrimp.png);
}

i.skewer {
    content: url(../icons/food/24/skewer.png);
}

i.sliced_bread {
    content: url(../icons/food/24/sliced_bread.png);
}

i.soda_can {
    content: url(../icons/food/24/soda_can.png);
}

i.soft_cream_cone {
    content: url(../icons/food/24/soft_cream_cone.png);
}

i.soft_drink {
    content: url(../icons/food/24/soft_drink.png);
}

i.soup {
    content: url(../icons/food/24/soup.png);
}

i.spaghetti {
    content: url(../icons/food/24/spaghetti.png);
}

i.squash {
    content: url(../icons/food/24/squash.png);
}

i.squash2 {
    content: url(../icons/food/24/squash2.png);
}

i.steak {
    content: url(../icons/food/24/steak.png);
}

i.steak_raw {
    content: url(../icons/food/24/steak_raw.png);
}

i.strawberry {
    content: url(../icons/food/24/strawberry.png);
}

i.sugar_cubes {
    content: url(../icons/food/24/sugar_cubes.png);
}

i.sugarcane {
    content: url(../icons/food/24/sugarcane.png);
}

i.sundae {
    content: url(../icons/food/24/sundae.png);
}

i.sushi_maki {
    content: url(../icons/food/24/sushi_maki.png);
}

i.sushi_nigiri {
    content: url(../icons/food/24/sushi_nigiri.png);
}

i.sweet_potato {
    content: url(../icons/food/24/sweet_potato.png);
}

i.sweet_potato2 {
    content: url(../icons/food/24/sweet_potato2.png);
}

i.t_bone_steak {
    content: url(../icons/food/24/t_bone_steak.png);
}

i.t_bone_steak_raw {
    content: url(../icons/food/24/t_bone_steak_raw.png);
}

i.tangerine {
    content: url(../icons/food/24/tangerine.png);
}

i.tea {
    content: url(../icons/food/24/tea.png);
}

i.tea_kettle {
    content: url(../icons/food/24/tea_kettle.png);
}

i.teabag {
    content: url(../icons/food/24/teabag.png);
}

i.teapot {
    content: url(../icons/food/24/teapot.png);
}

i.toast {
    content: url(../icons/food/24/toast.png);
}

i.toast_marmalade {
    content: url(../icons/food/24/toast_marmalade.png);
}

i.tomato {
    content: url(../icons/food/24/tomato.png);
}

i.tomato2 {
    content: url(../icons/food/24/tomato2.png);
}

i.turnip {
    content: url(../icons/food/24/turnip.png);
}

i.wafer {
    content: url(../icons/food/24/wafer.png);
}

i.waffle {
    content: url(../icons/food/24/waffle.png);
}

i.walnut {
    content: url(../icons/food/24/walnut.png);
}

i.watermelon {
    content: url(../icons/food/24/watermelon.png);
}

i.watermelon1 {
    content: url(../icons/food/24/watermelon1.png);
}

i.watermelon2 {
    content: url(../icons/food/24/watermelon2.png);
}

i.wedding_cake {
    content: url(../icons/food/24/wedding_cake.png);
}

i.wheat {
    content: url(../icons/food/24/wheat.png);
}

i.whisky_bottle {
    content: url(../icons/food/24/whisky_bottle.png);
}

i.whisky_glass {
    content: url(../icons/food/24/whisky_glass.png);
}

i.whole_grain_bread {
    content: url(../icons/food/24/whole_grain_bread.png);
}

i.wine_bottle {
    content: url(../icons/food/24/wine_bottle.png);
}

i.wine_cup {
    content: url(../icons/food/24/wine_cup.png);
}

i.wine_cup2 {
    content: url(../icons/food/24/wine_cup2.png);
}

